/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 2, 2018, 6:13:09 PM
    Author     : DELL
*/




*{
    -fx-primary : #2A2E37;
    -fx-secondary: #FFFF8D;
    -fx-primarytext: #B2B2B2;
}
.root{
    -fx-background-color: -fx-primary;
    -fx-text-color: -fx-primarytext;
    -fx-text-fill: #B2B2B2;/*#B2B2B2*/
}
.label{
    
    -fx-text-color: -fx-primarytext;
    
    
}


.button{
    -fx-background-color: 
        linear-gradient(#7ebcea, #2f4b8f),
        linear-gradient(#426ab7, #263e75),
        linear-gradient(#395cab, #223768);
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Arial";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 20px;
    -fx-padding: 10 20 10 20;
}
.button Text {
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.9) , 1, 0.0 , 0 , 1 );
}
.button:hover {
    -fx-background-color: linear-gradient(#555555, #61a2b1);
}